<div class="container">
  <div class="ordem-compra">
    <form [formGroup]="form"  (ngSubmit)="confirmPurchase()" novalidate>
    
      <h5>Sua Compra</h5>
      <hr />

      <div *ngIf="itensCarShop.length != 0 ">
         <div  *ngFor="let item of itensCarShop" class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="form-group col-sm-1">
          <img [src]="item.img.url" class="img-fluid">
        </div>
        <div class="form-group col-sm-6">
          {{item.title}}
          <br />
          {{item.description}}
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" (click)="subtractAmount(item)" class="btn btn-link">-</button>
              {{item.amount}}
              <button type="button" (click)="addAmount(item)" class="btn btn-link">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">
          {{item.value * item.amount | currency:'BRL':true}}
        </div>
      </div>
      
      
      <div class="form-row">
        <div class="form-group col d-flex justify-content-end">
          <h4>{{carshop_service.calcTotal() |currency:'BRL':true}}</h4>
        </div>
      </div>
      </div>

      <div *ngIf="itensCarShop.length == 0 " class="form-row d-flex justify-content-center" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <h4>Seu carrinho está vazio, aproveite as ofertas!</h4>
      </div>

      <br />

      <h5>Dados de entrega</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-6">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Endereço" 
            autocomplete="off" 
            formControlName="adress"
          >
          <small class="form-text text-success"  *ngIf="form.get('adress')?.valid && form.get('adress')?.touched">Ok</small>
          <small class="form-text text-danger" *ngIf="form.get('adress')?.invalid && form.get('adress')?.touched">Endereço invalido</small>
        </div>
        <br>
        <div class="form-group col-md-2">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Número" 
            autocomplete="off"
            formControlName="number"
          >
          <small class="form-text text-success"  *ngIf="form.get('number')?.valid && form.get('number')?.touched">Ok</small>
          <small class="form-text text-danger" *ngIf="form.get('number')?.invalid && form.get('number')?.touched">Numero invalido</small>
        </div>
        <br>

        <div class="form-group col-md-4">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Complemento" 
            autocomplete="off"
            formControlName="complement"
          >
          <small class="form-text text-success"  *ngIf="form.get('adress')?.valid && form.get('adress')?.touched">Ok</small>
        </div>
        <br>
      </div>
      <br />


      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">
          
        <div class="form-group col-md-3">
          <select 
            class="form-control"
            formControlName="paymentType"
          >
            <option value="" disabled>Selecione uma opção</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Débito</option>
          </select>
          <small class="form-text text-success"  *ngIf="form.get('paymentType')?.valid && form.get('paymentType')?.touched">Ok</small>
          <small class="form-text text-danger" *ngIf="form.get('paymentType')?.invalid && form.get('paymentType')?.touched">Forma de pagamento invalida</small>
        </div>
      </div>

      <hr />
      <button 
        type="submit" 
        class="btn btn-primary btn-lg"
      >Cofirmar compra</button>
    </form>
  </div>
</div>
<br>