<div class="container">
    <div class="oferta" *ngIf="offer !== undefined"><!--É necessário fazer a 
      verificção do objeto offer pois, no primeiro momento da aplicação ele
      não esta preechido
    -->
  
      <div class="row">
        <div class="col">
          <h4>{{offer.description}}</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <div class="img_capa">
            <img [src]="firstImage" />
          
          </div>
          
          <div class="thumbnails" *ngFor="let image of offer.images">
            <img [src]="image.url" />
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="row">
            <div class="col text-center">
              <p>Por apenas</p>
            </div>
            
          </div>
  
          <div class="row">
            <div class="col text-center">
              <h1>{{offer.value | currency:'BRL'}}</h1>
            </div>
          </div>
  
          <div class="row">
            <div class="col text-center">
              <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
            </div>
          </div>
            
        </div>
  
      </div>
  
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-bottom: 40px;">
       <li class="nav-item" role="presentation">                <!--Como é uma rota filha não se deve usar a '/' antes do nome da rota-->
        <button class="nav-link active"  data-bs-toggle="tab" routerLink="how-to-use" data-bs-target="#home-tab-pane" type="button" role="tab" aria-selected="true">Como usar?</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link"  data-bs-toggle="tab" routerLink="locale" data-bs-target="#profile-tab-pane" type="button" role="tab"  aria-selected="false">Onde Fica?</button>
      </li>
    </ul>
    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>