<div class="">
    <nav class="navbar navbar-light bg-faded">
      <div class="container-fluid">
        <a routerLink="/" class="navbar-brand">
          <img src="/assets/logo.png" />
        </a>
        <a a href="#"><img src="/assets/carrinho.png" /></a>
      </div>
    </nav>
  
    <div class="menu">
      <div class="container">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/restaurants" routerLinkActive="active">Restaurantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="entertainment" routerLinkActive="active">Diversão</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
